* {
  font-family:
    "JetBrainsMono Nerd Font", "CaskaydiaCove Nerd Font", "sans-serif";
  font-weight: 600;
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

window#waybar {
  background: none;
  color: #ffffff;
}

tooltip {
  background: rgba(10, 10, 12, 0.9);
  border: 1px solid transparent;
  border-radius: 8px;
  color: #ffffff;
}

#workspaces {
  padding: 0px 25px 0px 25px;
}

#workspaces button {
  font-size: 13px;
  padding: 4px 16px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  border-bottom: 2px solid transparent;
}

#workspaces button:hover {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #252525;
  /* text-shadow: 0 0 8px rgba(255, 255, 255, 0.4);  */
}

#workspaces button.active {
  color: #ffffff;
}

/* Clock - Bold and bright to stand out */
#clock {
  font-size: 13px;
  font-weight: 800;
  padding: 0px 0px 0px 5px;
  color: #ffffff;
}

#clock:hover {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #252525;
}

#mpris {
  color: rgba(255, 255, 255, 0.5);
}

#mpris {
  opacity: 0;
  font-size: 0px;
  padding: 0;
  margin: 0;
}

#mpris.playing,
#mpris.paused {
  opacity: 1;
  font-size: 13px;
  padding: 0px;
  color: #ffffff;
}

#mpris.paused {
  color: rgba(255, 255, 255, 0.5);
}

#tray,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-expand-icon {
  font-size: 16px;
  padding: 0 11px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
}

/* Brighten icons when they are "active" / working */
#network:not(.disconnected),
#bluetooth:not(.disabled),
#pulseaudio:not(.muted),
#battery {
  color: #ffffff;
}

#tray:hover,
#battery:hover,
#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#custom-expand-icon:hover {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #252525;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

.modules-center {
  /* background-color: #181824; */
  background-color: #000000;

  margin-bottom: 4px;
  padding: 4px 30px;
  border-radius: 0px 0px 30px 30px;
}
